*{
  box-sizing: border-box
  ;
}
html{
  height: 100%;
}
body{
  height: 100%;
}
.game{
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 150px;
  background-color:aqua;
  margin-top: 300px;
  box-shadow: 150px 150px coral, 150px -150px blueviolet,-150px 150px gray, -150px -150px greenyellow, rgba(0, 0, 0, 0.4) 0px 30px 90px, 300px 0 blue, 0 -300px rgb(196, 101, 130),-300px 0 rgb(27, 75, 45),0 300px  rgb(48, 66, 20);
  transition: box-shadow 0.5s ease;

}
.game:hover{
  border-radius: 50%;
  box-shadow: -150px 150px coral, 150px 150px blueviolet,-150px -150px gray, 150px -150px greenyellow,300px 0 blue, 0 -300px rgb(196, 101, 130),-300px 0 rgb(27, 75, 45),0 300px  rgb(48, 66, 20);
}
a{
  background-color: #444444;
}
.game:active{
  box-shadow: 0 0  coral,0 0 blueviolet,0  0  gray,0  0  greenyellow,300px 0 blue, 0 -300px rgb(196, 101, 130),-300px 0 rgb(27, 75, 45),0 300px  rgb(48, 66, 20);
}